# Environment
ENV=<environment>

# URL
API_URL=<backend-api-url>
NEXT_PUBLIC_APP_URL=<application-url>

# Authentication provider
AUTH_KEYCLOAK_ID=<client_id>
AUTH_KEYCLOAK_ISSUER=<keycloak-issuer-url>
AUTH_KEYCLOAK_SECRET=<client_secret>
AUTH_SECRET=<authentication-secret>
AUTH_TRUST_HOST=<true-or-false>
NEXT_PUBLIC_AUTH_PROVIDER=<auth-provider>

# Pagination and export
NEXT_PUBLIC_EXPORT_MAX_SIZE=<max-export-size>
NEXT_PUBLIC_PAGINATION_DEFAULT_LIMIT=<default-limit>
NEXT_PUBLIC_PAGINATION_DEFAULT_PAGE=<default-page>

# Cloudinary (next-cloudinary)
CLOUDINARY_API_SECRET=<cloudinary-api-secret>
NEXT_PUBLIC_CLOUDINARY_API_KEY=<cloudinary-api-key>
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=<cloudinary-cloud-name>
NEXT_PUBLIC_CLOUDINARY_UPLOAD_FOLDER=<cloudinary-upload-folder>
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=<cloudinary-upload-preset>
# Optional — leave empty if not used
NEXT_PUBLIC_CLOUDINARY_PRIVATE_CDN=
NEXT_PUBLIC_CLOUDINARY_SECURE_DISTRIBUTION=

# Log
LOG_FILE_PATH=<log-file-path>
LOG_LEVEL=<log-level>
LOG_OUTPUT=<log-output>
NEXT_PUBLIC_LOG_LEVEL=<client-log-level>
NEXT_PUBLIC_LOG_OUTPUT=<client-log-output>

# SMTP
SMTP_FROM=<sender-email>
SMTP_HOST=<smtp-host>
SMTP_PASS=<smtp-password>
SMTP_PORT=<smtp-port>
SMTP_RESET_TOKEN_SECRET=<reset-token-secret>
SMTP_SECURE=<true-or-false>
SMTP_USER=<smtp-user>
